@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Roboto:400,500&display=swap');
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Roboto', sans-serif;


html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;  // easier for developer
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;

  background-color: #ececec;
  color: #333;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
}
h1  { font-size: 2rem; }
h2  { font-size: 1.8rem; }
h3  { font-size: 1.6rem; }
h4  { font-size: 1.4rem; }

a {
  $link_color: #0073aa;

  text-decoration: none;
  color: $link_color;
  font-size: 1.4rem;
  line-height: 1.5;

  &:hover {
    color: lighten($link_color, 30%);
    text-decoration: underline;
  }

  &:active,
  &:visited {
    color: $link_color;
  }

  &[target="_blank"] {
    $icn_size: 16px;

    display: inline-block;
    background: url(../../images/icons/icon_image_black.png) right center no-repeat;
    background-size: $icn_size;
    padding-right: #{$icn_size + 5px};
  }
}

body {
  // max-width: $body_max_width;
  width: 100%;
  min-height: 100%;;
  margin: 0 auto;

  section + section {
    margin-top: 15px;
  }

}

footer {
  margin-top: 20px;
  border-top: 1px solid #999;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;

  ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}